@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* Header */

body,html {
  height: 100%;
  margin: auto;
  width: 100%;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  background-color: #FCEDDA;
}

.backGround {
position: relative;
opacity: 0.8;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  background-image: url("./assets/library.jpg");
  height: 50%;
}
.caption {
  position: relative;
  top: 25%;
  width: 75%;
  text-align: center;
  color: #000;
  background-color: #FCEDDA;
  border: 1px;

}

.caption span.border {
  background-color: #111;
  background-color: transparent;
  color: #EE4E34;
  padding: 18px;
  letter-spacing: 10px;
  letter-spacing: 8px;
  letter-spacing: 5px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: "Dancing",sans-serif;
  font-size: 50px;
  font-size: 60px;
  font-size: 70px;
  line-height: 178%;
  line-height: 158%;
}

.btn {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Dancing", sans-serif;
  font-style:normal;
  color: silver;
  background-color: #FCEDDA;
  background-color: transparent;
  width: fit-content;
  position: absolute;
  padding: 10px 250px 10px 100px;
  padding: 10px 600px 10px 100px;
  padding: 10px 100px 10px 100px;
  text-align: start;
  padding: 5px 25px 3px 25px;
  left: 50%;
  left: 45%;
  top: 115%;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(24, 24, 24, 0.3);
  transition-duration: 0.25s;
  transition-delay: 0.15s;
  
  color: #ffffff;
}

#heading{
    color: #EE4E34;
}

.container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 50px;
    background-color: #FCEDDA;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
}
.container-alt{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2rem;
}


.wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;  
}

.card{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 300px;
    height: 420px;
    background-color: #E3B448;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #008cba;
    background-color: #f5f5f5;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.25s ease;
  }

  .card:hover .overlay {
    height: 50%;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

img{
    margin-top: 20px;
    width: 190px;
    height: 249px;
}

.info{
  display: flex;
  flex-direction: column-reverse;
  margin: 4px 5px 11px 12px;
}

.btn-container{
  display: flex;
  width: 228px;
  justify-content: center;
  margin-bottom: 5px;
}


.title{
    font-size: 13px;
    font-family: 'Dancing',  sans-serif;
    line-height: 125%;
    color: #3A6B35;
    height: 30px;

}

.author{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Dancing', sans-serif;
    color: #3A6B35;
}
.price{
    color: #3A6B35;
    font-family: 'Dancing',  sans-serif;
    margin-top: 5px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
}


header{
    display: flex;
}
h1{
    margin: 40px 0 0 40px;
    color: #008cba;
    font-family: 'Dancing', sans-serif;
}
.profile_photo{
    float: right;
    background-color: blue;


}

.tinyImg{
    position: absolute;
    top: 5px;
    right: 50px;
    width: 50px;
    height: 46px;
}


.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    background-color: skyblue;
    top: 100px;
    right: 280px;
    width: 455px;
    height: 40px;
    border-radius: 5px;

  }
  
  .topnav .search-container {
    float: right;
    width: 450px;
  }
  
  .topnav input[type=text] {
    padding: 5px;
    padding-left: 20px;
    margin: 5px 8px 0 0;
    font-size: 17px;
    border: none;
    width: 365px;
    border-radius: 5px;
  }
  
  .topnav .search-container button {
    margin: 4px 0 0 5px;
    background: skyblue;
    font-family: 'Dancing', sans-serif;
    font-style: normal;
    font-weight: 500;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .loupe-img{
    position: absolute;
    top: 87px;
    right: 200px;
    width: 25px;
    height:25px;
  }

  .btn-add{
    width: fit-content;
    display: flex;
    align-items: center; 
    align-self: flex-start;
    color: #3A6B35;
    border: 1px solid #3A6B35;
    margin: 10px 5px 0 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
     font-family: 'Dancing', sans-serif;
  }

  .btn-add-text-node{
    margin-left: 5px;
  }

  .ShowMoretext-text-node{
    font-size: 12px;
    margin-left: 10px;
  }

  .tiny-img{
    height: 25px;
    width: 25px;
    margin:0;
    padding: 0;
  }
  .tiny-img2{
    height: 24px;
    width: 30px;
    margin:0;
    padding: 0;
  }

  .grand-cart-container{
    position: relative;
    width: 170px;
    height: 150px;
    top: 10px;
    left: 60%;
    z-index: 7;
    border: none;
}
  .grand-cart-container-alter{
    border: silver dashed 2px; 
    height: 220px;
    width: 400px; 
    background-color: aliceblue;
    top: 10px; 
    left: 60%;
    position: fixed;
    z-index: 7;
}

.btn-ToggleCart-img{
height: 50px;
width: 50px;
margin-bottom: 22px;
}

.btn-ToggleCart{
  font-family: 'Dancing', sans-serif;
  font-weight: bolder;
  background-color: #FCEDDA;
  position: absolute; 
  top: 5%; 
  left: 200%; 
  width: 200px;
  height:60px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: grey;
  border: 1px solid #3A6B35;
  margin: 10px 0 0 -20px;
  padding-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

.item-count-text{
  position: relative;
  background-color: #EE4E34;
  right: 15%;
  bottom:5%;
  width:15px;
  height: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  line-height: 130%;
  font-weight: bold;
  font-size: 12px;
}

.drag-here-msg{
  padding-top: 30px;
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  top: 15%;
  left:20%;
}

.cart-container{
  position: absolute; 
  top: 12%; 
  left: -61% ;
  width: 350px;
}

.elm-img{
  width: 70px;
  height: 100px;
  margin: 5px 10px 5px 10px;
}


.elm-p{
  margin: 5px 10px 5px 0;
}
.elm-t{
  margin: 0 10px 0 10px;
  width: 150px;
}

.elm-a{
  margin: 0 10px 0 10px;
  width: 110px;
}

.btn-x{
  margin: 0px 9px 0px 9px;
}

.cart-content{
  margin-top: 50px; 
  position:relative;
  min-height: 200px; 
  padding: 5px;
  background-color: #eee;
  left: 0;
  top: 11%;
  width: 340px;
  height: auto;
  max-height: 70%;
  font-size: 14px;
  z-index: 10;
  overflow: hidden;
}

.baby-cart-content{
  margin-bottom: 50px; 
  position:relative;
  display: flex;
  height: auto;   
  padding: 5px;
  background-color: #eee;
  right: 4%;
  top: 11%;
  width: 340px;
  height: auto;
  max-height: 70%;
  font-size: 14px;
  z-index: 10;
  overflow: hidden;
}

ul{
  display: flex;
  justify-content: space-between;
}

ul > li{
  list-style: none;
  margin: 0 75px 0 0;
}

.detailed-information-container{
  position: relative;
}

.detailed-information{
  display: none;
  position: fixed;
  width: 350px;
  z-index: 7;
  width: 400px;
  height: 150px;
  background-color:#E3B448;
  padding: 10px;
  font-family: 'Dancing', sans-serif;
  font-family: 'Dancing', sans-serif;
  top: 30%;
  left: 35%;
  color: #3A6B35;
}

.btn-info-x{
  position: absolute;
  top:0;
  right:0;
}

.grand-order-container{
  position:absolute; 
  left: 20%;
  bottom:32px
}


